.container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.date-picker-container {
    padding: 10px;
    max-width: 500px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 
                0 1px 3px 0 rgba(63, 63, 6, 0.15);
}

.date-picker-container__title {
    color: #4f4f4f;
    font-size: 1.2rem;
}